<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<a href="{{site.organization_link}}">{{site.organization_link_name}}</a><br />
<a href="{{site.community_link}}">{{site.community_link_name}}</a></a><br />
<p><img src="/images/company_logo.png" alt="Company logo"/></p>
                </div>
            </div>
</footer>
