code {
  color: #444;
  background-color: #f5f5f5;
  padding: 0.2em;
  border: 1px solid #ccc;
  font-size: 85%;
  border-radius: 3px;
}

pre > code {
  border: none;
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

